[submodule "libs/randomstring"]
	path = libs/randomstring
	url = https://github.com/HastePasteApp/randomstring
[submodule "libs/crypto"]
	path = libs/crypto
	url = https://github.com/HastePasteApp/crypto
[submodule "libs/snowflake"]
	path = libs/snowflake
	url = https://github.com/HastePasteApp/snowflake
